<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? locals.title + ' | Book Club System' : 'Book Club System' %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-wrapper">
        <%- include('../partials/header') %>
        <main>
            <div class="container">
                <%- include('../partials/flashMessages') %>
                <%- body %>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>